body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

p {
  line-height: 2;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.65rem;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.top_container {
  background-color: #e4f9f5;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin-top: 50px;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 30px;
  padding-bottom: 30px;
}

.bottom_cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top_cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.programmer_word {
  text-decoration: underline;
}

.footer-link {
  color: #11999E;
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 10px 20px 10px;
}

.footer-link {
  color: #11999E;
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 10px 20px 10px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skills_computer {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skills_chillies {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.footer_owner {
  color: #EAF6F6;
  font-size: 0.75rem;
}

.text_middle_container {
  width: 35%;
  margin: 50px auto 0 auto;
}

.line_skills {
  border-style: dotted none none none;
  border-width: 7px;
  border-color: grey;
  width: 10%;
  margin: 100px auto 100px auto;
}

.text_contact {
  margin: 30px auto 30px auto;
}

.btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 100;
  padding: 18px;
  background-color: #11999E;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #11999E 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 50px auto 50px auto;
}

.btn:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
